
@mixin mixin_animation($name, $duration, $time_function, $delay){
  animation: $name $duration $time_function $delay 1 normal both;
  -webkit-animation: $name $duration $time_function $delay 1 normal both;
  -moz-animation: $name $duration $time_function $delay 1 normal both;
  -o-animation: $name $duration $time_function $delay 1 normal both;
}

@mixin clearfix{
  &::after{
    content: '';
    clear: both;
    display: table;
  }
}

@mixin textgradient($font-size, $color1, $color2){
  font-size: $font-size;
  background-image: linear-gradient(to right, $color1, $color2);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}

@mixin btn-color($color-text, $color-background){
  background-color: $color-background;
  font-weight: 700;
  color:$color-text;

  &::after{
    background-color: $color-background;
  }
}

%flex-centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex-top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
