// colors 
$color-blue-light:rgb(97, 183, 230);
$color-blue-dark:rgb(0, 120, 195);
$color-blue-darker:rgb(2, 99, 160);
$color-blue-gray:rgb(154, 174, 187);
$color-gray:rgb(131, 131, 132);
$color-gray-dark:#333;
$color-red-dark:rgb(210, 20, 20);

$color-secondary-light:rgb(52, 161, 228);
$color-secondary-dark:rgb(0, 101, 163);

$color-black:rgb(60, 59, 59);
$color-white:rgb(219, 228, 237);
$color-gray-dark:#999;

$color-white-max:rgb(255, 255, 255);

$section-color: rgb(169, 202, 231);

// card colors
$card-primary-light:rgb(83, 224, 224);
$card-primary-dark:rgb(7, 157, 157);

$card-secondary-light: rgb(255, 200, 99);
$card-secondary-dark:  rgb(219, 150, 20);

$card-tertiary-light: rgb(59, 233, 59);
$card-tertiary-dark: rgb(26, 151, 26);

$color-green-light-1: rgb(104, 202, 89);
$color-green-dark-1: rgb(14, 139, 14);

// animations
$time-move-in-ani: 1.4s;
$delay-move-in-ani: 0.3s;

$time-btn-move-in: 0.8s;

// width
$width-screen-small: 650px;
$width-screen-medium: 1000px;
$width-screen-large: 1400px;

// font
$default-font-size: 1.2rem;

// space
$space-vertical: 5rem;
$space-horizontal: 1rem;
$padding-LR-section: 5px;

// section
$section-skew: 6deg;

// z layers
$very-front-layer:6000;