.composition{
  position:relative;
  margin-bottom: 30rem;
  &__photo{
    max-width:60%;
    min-height: 14rem;
    box-shadow: 0 1.2rem 4rem rgba($color-black, .4);
    border-radius: 10px;
    position:absolute;
    transition: all .3s;
    outline-offset: .5rem;

    &--p1{
      left:0;
      top:-2rem;

    }

    &--p2{
      right: 0;
      top:2rem;
    }

    &--p3{
      left:20%;
      top:10rem;
    }

    &:hover{
      outline: 6px solid $color-secondary-dark;
      transform: scale(1.07) translateY(-.5rem);
      box-shadow: 0 2.2rem 3rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover){
    transform: scale(.9);
  }
}