:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  padding: 2rem 1rem 1rem;
  display: flex;
  min-width: 20rem;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #5a5a5a;
  background: linear-gradient(to left top, #61b7e6 0%, #0078c3 100%);
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 10px;
    background-color: #F5F5F5; }
    body::-webkit-scrollbar-thumb {
      border: 2px #5a5a5a solid;
      border-radius: 10px;
      background-color: #129df4; }

h1 {
  font-size: 3.2em;
  line-height: 1.1; }

.umargin-top-small {
  margin-top: 5px; }

.heading-primary {
  color: white;
  cursor: default;
  backface-visibility: hidden;
  margin-bottom: 3.75rem; }
  .heading-primary__main {
    display: block;
    font-size: .63em;
    font-weight: 700;
    letter-spacing: .625rem;
    animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -webkit-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -moz-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -o-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both; }
  .heading-primary__sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 6px;
    animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -webkit-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -moz-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -o-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both; }

.heading-secondary {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0065a3, #34a1e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .13rem;
  cursor: default;
  backface-visibility: hidden;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(12deg) scale(1.1);
    text-shadow: 0.3rem 0.7rem 2rem rgba(60, 59, 59, 0.2); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header-container {
  position: relative;
  margin-bottom: calc(10rem - 4%); }

.header {
  height: 95vh;
  max-width: calc(100vw - 1.8rem);
  background-image: linear-gradient(to right bottom, rgba(150, 242, 242, 0.23) 0%, rgba(18, 157, 244, 0.23) 100%), url(../../src/images/berlin_photo1.jpg);
  background-size: cover;
  background-position: center right;
  border-radius: 1rem;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 78% 89%, 51% 78%, 20% 91%, 0% 75%);
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.logo_box {
  position: absolute;
  bottom: -8%;
  left: 1%;
  z-index: 5; }
  .logo_box__img {
    height: 14rem;
    min-width: 12rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; }

.text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center; }

.footer-container {
  position: relative;
  margin-top: 10rem;
  bottom: 0; }

.footer {
  height: 70vh;
  min-width: calc(100vw - 2.4rem);
  background-image: linear-gradient(to right bottom, rgba(150, 242, 242, 0.35) 0%, rgba(18, 157, 244, 0.55) 100%), url(../../src/images/viena-photo2.jpg);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  clip-path: polygon(0px 100%, 0px 26%, 20% 46%, 51% 26%, 78% 46%, 100% 26%, 100% 100%);
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 100px;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }

.btn:active {
  transform: translateY(0px); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scale(1.3, 1.2);
  opacity: 0; }

.btn--white {
  background-color: aliceblue;
  font-weight: 700;
  color: #777; }
  .btn--white::after {
    background-color: aliceblue; }

.btn--animated {
  animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -webkit-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -moz-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -o-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both; }

.btn-text:link, .btn-text:visited {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0078c3;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px dotted #0068aa;
  padding: 3px 4px 1px;
  border-radius: 10px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #0078c3;
  color: #dbe4ed;
  box-shadow: 0 1rem 2rem rgba(60, 59, 59, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(60, 59, 59, 0.15);
  transform: translateY(0); }

.u-text-blue {
  color: #0065a3; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

@media only screen and (max-width: 650px) {
  .heading-primary-main {
    left: 6px; }
  .logo_box__img {
    height: 11rem;
    min-width: 7rem; } }

.section-about {
  background-color: #a9cae7;
  padding: 30rem 5px 10rem;
  margin-top: -26rem; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  align-items: flex-start; }
  .flex-row .col-1-of-2-text {
    flex: 0 1 58%; }
  .flex-row .col-1-of-2-img {
    margin-left: auto;
    flex: 0 1 40%;
    padding: 0.5rem; }
  @media screen and (max-width: 650px) {
    .flex-row .col-1-of-2-text {
      order: 1;
      flex-basis: 100%; }
    .flex-row .col-1-of-2-img {
      flex-basis: 100%;
      margin-bottom: 1rem; } }

.composition {
  position: relative;
  margin-bottom: 30rem; }
  .composition__photo {
    max-width: 60%;
    min-height: 14rem;
    box-shadow: 0 1.2rem 4rem rgba(60, 59, 59, 0.4);
    border-radius: 10px;
    position: absolute;
    transition: all .3s;
    outline-offset: .5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 6px solid #0065a3;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 2.2rem 3rem rgba(60, 59, 59, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
