:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-size: 100%;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 2rem 1rem 1rem;
  display: flex;
  min-width: 20rem;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color:rgb(90, 90, 90);
  background:linear-gradient(to left top, rgb(97, 183, 230) 0%, rgb(0, 120, 195) 100%);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 10px;
  background-color: #F5F5F5; 
}

body::-webkit-scrollbar-thumb {
  border:2px rgb(90, 90, 90) solid;
  border-radius: 10px;
  background-color: rgb(18, 157, 244) ; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
