.panel{
  display: block;
  min-height: 10em;
  border-radius: 6px;
  padding: 2rem 0.5rem;
  
  &--white{
    background-color: $color-white;
    border: 6px double darken($color-white, 30%);
  }
  
}