.u-text-blue{
  color:$color-secondary-dark;
}

.u-center-text{
  text-align: center !important;
}

.u-margin-top-small{
  margin-top: 5px;
}

.u-margin-top-medium{
  margin-top: 5rem !important;
}

.u-margin-bottom-small{
  margin-bottom: 1rem !important;
}

.u-margin-bottom-intermediate{
  margin-bottom: 3rem !important;
}

.u-margin-bottom-medium{
  margin-bottom: 5rem !important;
}

.u-margin-left-small{
  margin-left: 0.8rem !important;
}

.u-margin-right-small{
  margin-right: 0.8rem !important;
}

.u_move_up--big{
  margin-top: -26rem !important;
}

.u_padding_down--big{
  padding-bottom: 26rem !important;
}

.span-block{
  display: inline-block;
}

@media only screen and (max-width: $width-screen-small) {
  .heading-primary-main{
    left: 6px;
  }

  .logo_box__img{
    height: 11rem;
    min-width: 7rem;
  }
}