.section-about{
  background-color: $section-color;
  padding: 30rem $padding-LR-section 16rem;
  margin-top: -26rem;
}

.section-tests{
  padding: 18rem $padding-LR-section;
  background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.6),
      rgba($color-blue-dark, 0.7)) , url(images/bavaria-photo2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -12rem;
  transform: skewY(-$section-skew);
  position:relative;

  & > *{
    transform: skewY($section-skew);
  }

  &__helper{
    position: absolute;
    right: 1.7rem;
    top: 4rem;
    font-size: 1.8rem;
    color:$color-secondary-dark;
    cursor: pointer;
  }
}
