.section-about{
  background-color: $section-color;
  padding: 30rem $padding-LR-section 16rem;
  margin-top: -26rem;
}

.section-tests{
  padding: 18rem $padding-LR-section;
  background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.6),
      rgba($color-blue-dark, 0.7)) , url(images/bavaria-photo2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -12rem;
  transform: skewY(-$section-skew);
  position:relative;

  & > *{
    transform: skewY($section-skew);
  }

  &__helper{
    position: absolute;
    right: 1.7rem;
    top: 4rem;
    font-size: 1.8rem;
    color:$color-secondary-dark;
    cursor: pointer;
  }
}

.section-courses{
  background-color: $section-color;
  padding: 27rem $padding-LR-section 30rem;
  margin-top: -17rem;
}

.section-sign-up{
  margin-top:-20rem;
  padding: 20rem $padding-LR-section 32rem;
  background-image: linear-gradient(to left top, $color-blue-dark, darken($card-primary-light, 4%));
  clip-path: polygon(0px 100%, 0px 0px, 20% 10rem, 50% 0px, 80% 10rem, 100% 0px, 100% 100%);
}