.section-about{
  background-color: $section-color;
  padding: 30rem $padding-LR-section 16rem;
  @extend %border-section--between;
}

.section-tests{
  padding: 18rem $padding-LR-section;
  background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.6),
      rgba($color-blue-dark, 0.7)) , url($path-to-images+'bavaria-photo2.jpg');
  background-size: cover;
  background-position: center;
  margin-top: -12rem;
  transform: skewY(-$section-skew);
  position:relative;
  @extend %border-section--between;

  & > *{
    transform: skewY($section-skew);
  }

  &__helper{
    position: absolute;
    right: 1.3rem;
    top: 4rem;
    color:$color-secondary-dark;
    cursor: pointer;

    @include respond(phone){
      top: 3rem;
      right: .4rem;
    }

    .helper-btn{
      font-size: 2rem;
      color:$color-secondary-dark;
      transition: text-shadow .4s;
      &:hover{
        text-shadow: 2px 1px 1rem $color-white-max;
      }
    }
  }
}

.section-courses{
  background-color: $section-color;
  padding: 27rem $padding-LR-section 30rem;
  margin-top: -17rem;
  @extend %border-section--between;
}

.section-sign-up{
  $local-polygon: polygon(0px 100%, 0px 0px, 20% 10rem, 50% 0px, 80% 10rem, 100% 0px, 100% 100%);
  margin-top:-20rem;
  padding: 20rem $padding-LR-section 32rem;
  background-image: $gradient-cyan-blue;
  -webkit-clip-path: $local-polygon;
  clip-path: $local-polygon;
  @extend %border-section--between;
}

.section-video-bg{
  max-width: 100%;
  min-height: 50vh;
  overflow: auto;
  background-color: $section-color;
  position: relative;
  @extend %border-section--header;

  @include respond(tab-land){
    min-height: 80vh;
  }

  .bg-video{
    width: 100%;
    
    @include respond(phone){
      transform: scaleY(2);
    }
  }

  .message-not-found{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:$card-primary-light;
    border: 3px double $card-primary-dark;
    border-radius: 1rem;
    padding: 3px 1rem;
    z-index: 1;
    animation: moveInBottomCenter .6s ease-in-out .2s 1 normal backwards;

    & > .heading-secondary{
      &:hover{
        transform: none;
        text-shadow: none;
      }
    }
  }
}

.section-login{
  background-image: $gradient-cyan-blue;
  padding: 5rem $padding-LR-section;
  @extend %border-section--header;
}