.footer__logo-box, .flex-row--centered-no-wrap > .flex-element, .blackdrop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/*
0 - 600 px   phone
900 - 1200 px   tablet portrait, tab-port
900 - 1200 px   tablet landscape, tab-land
1200 - 1800 px   normal styles
> 1800 px   big desktop
*/
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  padding: 2rem 1rem 1rem;
  display: flex;
  min-width: 20rem;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #5a5a5a;
  background: linear-gradient(to left top, #61b7e6 0%, #0078c3 100%);
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 10px;
    background-color: #F5F5F5;
    transition: all .8s; }
    body::-webkit-scrollbar-thumb {
      border: 2px #5a5a5a solid;
      border-radius: 10px;
      background-color: #129df4;
      transition: all .8s; }

h1 {
  font-size: 3.2em;
  line-height: 1.1; }

.heading-primary {
  color: white;
  cursor: default;
  backface-visibility: hidden;
  margin-bottom: 3.75rem; }
  .heading-primary__main {
    display: block;
    font-size: .63em;
    font-weight: 700;
    letter-spacing: 10px;
    animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -webkit-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -moz-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both;
    -o-animation: moveInLeft 1.4s ease-in-out 0.3s 1 normal both; }
    @media only screen and (max-width: 600px) {
      .heading-primary__main {
        letter-spacing: 3px; } }
  .heading-primary__sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 6px;
    animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -webkit-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -moz-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both;
    -o-animation: moveInRight 1.4s ease-in-out 0.3s 1 normal both; }
    @media only screen and (max-width: 600px) {
      .heading-primary__sub {
        letter-spacing: 3px; } }

.heading-secondary {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0065a3, #34a1e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .13rem;
  cursor: default;
  backface-visibility: hidden;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(12deg) scale(1.1);
    text-shadow: 0.3rem 0.7rem 2rem rgba(60, 59, 59, 0.2); }
  .heading-secondary--dark-color {
    background-image: linear-gradient(to right, #00558a, #003657); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700; }
  .heading-tertiary--biger {
    font-size: 1.7rem;
    font-weight: 800; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph__title {
    display: block;
    font-size: 1.4rem;
    font-weight: 800; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header-container {
  position: relative;
  margin-bottom: calc(10rem - 4%); }

.header {
  height: 95vh;
  max-width: calc(100vw - 1.8rem);
  background-image: linear-gradient(to right bottom, rgba(150, 242, 242, 0.23) 0%, rgba(18, 157, 244, 0.23) 100%), url(images/berlin_photo1.jpg);
  background-size: cover;
  background-position: center right;
  border-radius: 1rem;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 78% 89%, 51% 78%, 20% 91%, 0% 75%);
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.logo_box {
  position: absolute;
  bottom: -8%;
  left: 1%;
  z-index: 5; }
  .logo_box__img {
    height: 14rem;
    min-width: 12rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; }

.text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center; }

.footer-container {
  position: relative;
  bottom: 0; }

.footer {
  margin-top: -10rem;
  min-height: 70vh;
  padding: 2rem 1rem 4rem;
  display: block;
  background-image: linear-gradient(to right bottom, #6deded 0%, #0980ca 100%);
  clip-path: polygon(10% 0, 90% 0, 90% 10%, 100% 10%, 100% 100%, 0 100%, 0 10%, 10% 10%);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 1.7px solid #0980ca;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0; }
  .footer__logo {
    display: inline-block; }
    @media screen and (min-width: 1400px) {
      .footer__logo {
        margin-left: -5rem; } }
  .footer__list {
    border-top: 2px solid #0263a0;
    padding-top: 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around; }
  .footer__link-up {
    display: inline-block; }
  .footer__item, .footer__link-up {
    transition: transform .4s; }
    .footer__item:hover, .footer__link-up:hover {
      transform: translateY(-5px); }
  .footer__link {
    text-decoration: none;
    color: #0263a0;
    font-weight: 500;
    transition: all .4s; }
    .footer__link:hover {
      text-shadow: 0 1px 4px #0078c3; }
  .footer__coryright {
    border-top: 2px solid #0263a0;
    padding-top: 1rem;
    text-align: center; }

.btn, .btn:link, .btn:visited, .btn--cleared {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 100px;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  .btn:hover::after {
    transform: scale(1.3, 1.2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(0px); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: aliceblue;
  font-weight: 700;
  color: #777; }
  .btn--white::after {
    background-color: aliceblue; }

.btn--green {
  background-color: #0e8b0e;
  font-weight: 700;
  color: #68ca59; }
  .btn--green::after {
    background-color: #0e8b0e; }

.btn--blue {
  background-color: #0088dd;
  font-weight: 700;
  color: #9ad1ef; }
  .btn--blue::after {
    background-color: #0088dd; }

.btn--animated {
  animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -webkit-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -moz-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both;
  -o-animation: moveInBottom 0.8s ease-in-out 0.3s 1 normal both; }

.btn-text:link, .btn-text:visited {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0078c3;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px dotted #0068aa;
  padding: 3px 4px 1px;
  border-radius: 10px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #0078c3;
  color: #dbe4ed;
  box-shadow: 0 1rem 2rem rgba(60, 59, 59, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(60, 59, 59, 0.15);
  transform: translateY(0); }

.u-text-blue {
  color: #0065a3; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 5px; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-intermediate {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-left-small {
  margin-left: 0.8rem !important; }

.u-margin-right-small {
  margin-right: 0.8rem !important; }

@media only screen and (max-width: 650px) {
  .heading-primary-main {
    left: 6px; }
  .logo_box__img {
    height: 11rem;
    min-width: 7rem; } }

.section-about {
  background-color: #a9cae7;
  padding: 30rem 5px 16rem;
  margin-top: -26rem; }

.section-tests {
  padding: 18rem 5px;
  background-image: linear-gradient(to right bottom, rgba(97, 183, 230, 0.6), rgba(0, 120, 195, 0.7)), url(images/bavaria-photo2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -12rem;
  transform: skewY(-6deg);
  position: relative; }
  .section-tests > * {
    transform: skewY(6deg); }
  .section-tests__helper {
    position: absolute;
    right: 1.3rem;
    top: 4rem;
    color: #0065a3;
    cursor: pointer; }
    .section-tests__helper .helper-btn {
      font-size: 2rem;
      color: #0065a3;
      transition: text-shadow .4s; }
      .section-tests__helper .helper-btn:hover {
        text-shadow: 2px 1px 1rem white; }

.section-courses {
  background-color: #a9cae7;
  padding: 27rem 5px 30rem;
  margin-top: -17rem; }

.section-sign-up {
  margin-top: -20rem;
  padding: 20rem 5px 32rem;
  background-image: linear-gradient(to left top, #0078c3, #42dddd);
  clip-path: polygon(0px 100%, 0px 0px, 20% 10rem, 50% 0px, 80% 10rem, 100% 0px, 100% 100%); }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  align-items: flex-start; }
  .flex-row .col-1-of-2-text {
    flex: 0 1 58%; }
  .flex-row .col-1-of-2-img {
    margin-left: auto;
    flex: 0 1 40%;
    padding: 0.5rem; }
  @media screen and (max-width: 1000px) {
    .flex-row .col-1-of-2-text {
      order: 1;
      flex-basis: 100%; }
    .flex-row .col-1-of-2-img {
      flex-basis: 100%;
      margin-bottom: 1rem; } }
  .flex-row--centered, .flex-row--centered-no-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1.3rem; }
    .flex-row--centered > .flex-element, .flex-row--centered-no-wrap > .flex-element {
      margin: 0 1.7rem; }
    @media screen and (max-width: 1000px) {
      .flex-row--centered, .flex-row--centered-no-wrap {
        justify-content: space-around; }
      .flex-row--centered > .flex-element, .flex-row--centered-no-wrap > .flex-element {
        margin: 0; } }
  .flex-row--centered-no-wrap {
    flex-wrap: nowrap;
    font-size: 1.5rem;
    align-items: flex-start; }
    .flex-row--centered-no-wrap > .flex-element {
      flex: 1; }
    @media screen and (max-width: 1000px) {
      .flex-row--centered-no-wrap {
        flex-wrap: wrap; }
        .flex-row--centered-no-wrap > .flex-element {
          flex-basis: 100%; } }

.composition {
  position: relative;
  margin-bottom: 30rem; }
  .composition__photo {
    max-width: 60%;
    min-height: 14rem;
    box-shadow: 0 1.2rem 4rem rgba(60, 59, 59, 0.4);
    border-radius: 10px;
    position: absolute;
    transition: all .3s;
    outline-offset: .5rem; }
    @media only screen and (max-width: 600px) {
      .composition__photo {
        max-width: 74%;
        min-width: none; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 600px) {
        .composition__photo--p2 {
          top: 4rem; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 600px) {
        .composition__photo--p3 {
          left: 8%; } }
    .composition__photo:hover {
      outline: 6px solid #0065a3;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 2.2rem 3rem rgba(60, 59, 59, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.test-box {
  background-color: #d1e3f2;
  padding: 1.5rem 1.3rem 0.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
  align-items: center;
  border-radius: 0.8rem;
  border: 5px solid #0065a3;
  backface-visibility: hidden;
  transition: all .3s;
  cursor: default; }
  .test-box__icon {
    font-size: 3rem;
    background-image: linear-gradient(to right, #0065a3, #34a1e4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .test-box__title {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #34a1e4, #007bc7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .test-box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #092d43 0px 30px 60px -30px;
    transform: translateY(-0.9rem) scale(1.03); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  width: 18rem;
  height: 28rem; }
  .card__side {
    color: white;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1.2rem 4rem rgba(60, 59, 59, 0.15);
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden; }
    .card__side--front {
      background-color: #dbe4ed; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right top, #ffc863, #db9614); }
      .card__side--back--2 {
        background-image: linear-gradient(to right top, #34a1e4, #0065a3); }
      .card__side--back--3 {
        background-image: linear-gradient(to right top, #3be93b, #1a971a); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    display: block;
    height: 50%;
    margin: -1rem -1rem 0;
    padding: 1rem;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffc863, #db9614); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #34a1e4, #0065a3); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #3be93b, #1a971a); }
    .card__picture > img {
      filter: sepia(30%);
      border-radius: 8px;
      width: 100%;
      max-height: 7em; }
  .card__heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    right: 1rem;
    top: 5.5em;
    width: 74%;
    backface-visibility: hidden; }
    .card__heading__span {
      padding: 0.6rem 1rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      border-radius: 1rem; }
      .card__heading__span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 245, 227, 0.85), rgba(219, 150, 20, 0.85)); }
      .card__heading__span--2 {
        background-image: linear-gradient(to right bottom, rgba(83, 224, 224, 0.85), rgba(7, 157, 157, 0.85)); }
      .card__heading__span--3 {
        background-image: linear-gradient(to right bottom, rgba(59, 233, 59, 0.85), rgba(26, 151, 26, 0.85)); }
  .card__details {
    padding: 1rem;
    color: #838384;
    margin-top: 1rem; }
    .card__details ul {
      list-style: none;
      width: 95%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-weight: 700;
        padding: 0.3rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #9aaebb; }
  .card__back-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center; }
  .card__time-estimation {
    margin-top: 15%;
    font-size: 1.5rem;
    text-align: center; }
  .card__back-btn {
    margin-top: auto; }
  @media only screen and (max-width: 900px) {
    .card {
      height: auto; }
      .card__picture {
        height: 45%; }
      .card__side {
        height: auto;
        width: 100%;
        position: relative; }
        .card__side--front {
          height: 34rem; }
        .card__side--back {
          min-height: 18rem;
          border-top-left-radius: 0%;
          border-top-right-radius: 0%;
          -webkit-clip-path: polygon(0% 0%, 12.5% 5%, 25% 0%, 37.5% 5%, 50% 0%, 62.5% 5%, 75% 0%, 87.5% 5%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 12.5% 5%, 25% 0%, 37.5% 5%, 50% 0%, 62.5% 5%, 75% 0%, 87.5% 5%, 100% 0%, 100% 100%, 0% 100%);
          transform: rotateY(0) translateY(-25%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0) translateY(-25%); }
      .card__heading {
        width: auto;
        right: 50%;
        transform: translateX(50%); }
        .card__heading__span--1 {
          background-image: linear-gradient(to right bottom, rgba(255, 218, 150, 0.85), rgba(255, 173, 23, 0.85)); }
        .card__heading__span--3 {
          background-image: linear-gradient(to right bottom, rgba(59, 233, 59, 0.85), rgba(33, 195, 33, 0.85)); }
      .card__back-content {
        padding: 1rem 0;
        justify-content: space-between; }
      .card__time-estimation {
        margin-top: 0px; } }

.icon-background--1 {
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #ffc863, #db9614);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.icon-background--2 {
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #34a1e4, #0065a3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.icon-background--3 {
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #3be93b, #1a971a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.box-sign-up {
  width: 80%;
  background-image: linear-gradient(105deg, rgba(219, 228, 237, 0.8) 0%, rgba(219, 228, 237, 0.8) 57%, transparent 57%), url(images/germany-photo1.jpeg);
  background-size: cover;
  min-height: 40rem;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(60, 59, 59, 0.4); }
  @media only screen and (max-width: 900px) {
    .box-sign-up {
      width: 100%;
      background-image: linear-gradient(to right bottom, rgba(219, 228, 237, 0.8) 0%, rgba(219, 228, 237, 0.8) 100%), url(images/germany-photo1.jpeg); } }
  .box-sign-up__form {
    width: 54%;
    padding: 2em 0.5em 2em 1em; }
    @media only screen and (max-width: 900px) {
      .box-sign-up__form {
        width: 72%; } }
    @media only screen and (max-width: 600px) {
      .box-sign-up__form {
        width: 95%; } }

.form__group {
  font-size: 1rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  background-color: rgba(219, 228, 237, 0.85);
  width: 72%;
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 650px) {
    .form__input {
      width: 99%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(60, 59, 59, 0.2);
    border-bottom: 3px solid #0065a3; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #d21414; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form__label {
  font-weight: 700;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  display: block;
  transition: all .3s; }

.form__sub-heading {
  font-weight: 700;
  font-size: 1.4rem;
  background-image: linear-gradient(to right, #1a81c1, #003657);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.form__radio-group {
  display: block; }
  .form__radio-group:not(:last-child) {
    margin-bottom: 1rem; }

.form__radio-label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
  font-weight: 600;
  color: #0065a3; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 1.6rem;
  width: 1.6rem;
  border: 4px solid #0065a3;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    position: absolute;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0065a3;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.blackdrop {
  position: fixed;
  background-color: rgba(60, 59, 59, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  padding: 3rem 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s; }
  .blackdrop:target {
    position: fixed;
    opacity: 1;
    visibility: visible; }
  .blackdrop__content {
    flex: 1;
    position: relative;
    transform: scale(0.5);
    transition: all 0.5s; }
  .blackdrop:target .blackdrop__content {
    transition: all .8s 0.3s;
    transform: scale(1); }
  .blackdrop__exit {
    display: inline-block;
    position: absolute;
    right: -2rem;
    top: -2rem; }
    .blackdrop__exit__btn {
      color: #dbe4ed;
      text-decoration: none;
      font-size: 1.9rem;
      font-weight: 800;
      padding: 0.5rem;
      border-radius: 50%;
      transition: all .4s; }
      .blackdrop__exit__btn:hover {
        color: #d21414;
        text-shadow: 0px 0px 18px #d21414; }

body:has(.blackdrop:target)::-webkit-scrollbar {
  border-radius: 0px;
  background-color: #565454; }
  body:has(.blackdrop:target)::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 20px 1px #6f6e6e; }

.panel {
  display: block;
  min-height: 10vh;
  max-height: 86vh;
  border-radius: 6px;
  padding: 2.3rem 0.7rem;
  overflow-y: auto; }
  .panel--white {
    background-color: #9aaebb;
    border: 6px double #373737; }
  .panel::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 10px;
    background-color: #F5F5F5; }
    .panel::-webkit-scrollbar-thumb {
      border: 2px #838384 solid;
      border-radius: 10px;
      background-color: #61b7e6; }
